/* NAVBAR & HEADER*/

*, html, body{
    margin: 0;
    padding: 0;
    font-family: "monospace", sans-serif;
    
}

.fContainer {
    display: flex;
    width: 100%;
    /* height: 350px; */
    background-color:white;
}

.wrapper{
    display: flex;
    background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png');
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.logo{
    display: flex;
    flex-direction: row;
    font-size: 0;
    padding: -20px;
}

.logo > li> img:hover{
    width: 40x;
    height: 40px;
    transition: all .6s ease-in-out;

}

.banner{
  display: flex;
  content: 100%;
  justify-content: center;
  padding: 15px;
  margin: 100px 0px 100px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li > img{
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.navigation > li > img:hover{
    width: 65px;
    height: 65px;
    border-radius: 65px;
    transition: all .3s ease-in-out;
}

.navigation > li{
    list-style-type: none;
    padding: 15px;
    width: 100%;
}

.navigation > li > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.home{
    color: white;
    font-weight: 700;
    background-color:  rgb(49, 57, 81);
    padding: 15px;
}

.navigation > li > .home:hover{
    width: 70px;
    height: 70px;
    border-radius:70px;
    transition: all .6s ease-in-out;
}

.keranjang{
    color: white;
    font-weight: 700;
    background-color:   rgb(49, 57, 81);
    padding: 15px;
}

.navigation > li > .keranjang:hover{
    width: 70px;
    height: 70px;
    border-radius:70px;
    transition: all .6s ease-in-out;
}

.galeri{
    color: white;
    font-weight: 700;
    background-color:  rgb(49, 57, 81);
    padding: 15px;
}

.navigation > li > .galeri:hover{
    width: 70px;
    height: 70px;
    border-radius:70px;
    transition: all .6s ease-in-out;
}

.akun{
    color: white;
    font-weight: 700;
    background-color:  rgb(49, 57, 81);
    padding: 15px;
    
}

.navigation > li > .akun:hover{
    width: 70px;
    height: 70px;
    border-radius:70px;
    transition: all .6s ease-in-out;
}

* {
    box-sizing: flex;
}
 
strong {
    font-weight: 700;
}

/* MAIN PAGE */
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
  margin-block: 32px;
  gap: 32px;
  align-items: flex-start;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background: white;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: 4px 12px;
  border-radius: 1em;
  font-size: 12px;
}

.tag + .tag {
  margin-left: 8px;
}

.tag-bronze {
  background: white;
background: linear-gradient(to bottom, #CD7F32, #CD7F32);
  color: black;
}

.tag-gold {
  background: white;
background: linear-gradient(to bottom, #d4af37, #d4af37);
  color: black;
}

.tag-platinum {
  background: white;
background: linear-gradient(to bottom, #E5E4E2, #E5E4E2);
  color: black;
}

.card__body h4 {
  font-size: 24px;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 8px;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}


  /* FOOTER */
footer {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png') repeat center;
    display: table;
    width: 100%;
    height: 900px 0px 0px 900px;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
  
.wrapper2 {
    display: table-cell;
    vertical-align: middle;
}
  
footer small {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
    display: block;
}
  
.footer-nav a {
    color:  #0f2cd3;
    text-decoration: none;
    margin: 8px;
    display: inline-block;

  }
  
  .footer-nav a:hover {
    color: #0f2cd3;
    transition: color .15s ease-in-out;
  }

.introduction-section img{
  display: flex;
  content: 10%;
  justify-content: center;
  padding: 15px;
  margin: 50px 0px 0px 120px;
  height: 600px;
}


.masthead {
  padding: 6em 0;
  background-image: url('https://i.imgur.com/yGmrlyg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #FFCF33;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 1.6px;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 32px;
}

.masthead-heading {
    /* Layout Declarations */
    color: #F1C863;
    margin-top: -3.2px;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
  text-align: center;
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.introduction-section {
  margin-top: 0px;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.8px;
}

.social a:hover, a:link, a:active, a:visited {
  text-decoration: none;
  color: blue;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 19.2px;
    font-weight: bold;
    /* Layout */
    margin: 32px 0 16px 0;
}

section > h1 {
    margin-top: 32px;
}

.h1{
  color: rgb(75, 99, 175);
  font-weight: 500vh;
}



html {
  height: 100%;
  font-family: 'Montserrat';

  display: grid;
  align-items: center;
  justify-items: center;

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
}

body {
  background-color: var(--bg);
}

.container {
  background-color: var(--bg-panel);

  margin: 5em;
  padding: 5em;

  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
      "title switch"
      "content content"
  ;
}

h1 {
  margin: 0;
  color: var(--color-headings);
}

p {
  color: var(--color-text);
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}